<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d(yyyy.MM.dd'T'HH:mm:ss.SSSZ) %p %m%n"/>
		</Console>
		<RollingFile name="rollingAppender"
			fileName="d:/application.log"
			filePattern="%d()yyyy.MM.dd)-%i.log">
			<PatternLayout pattern="%d(yyyy.MM.dd'T'HH:mm:ss.SSSZ) %p %m%n"/>
			<Polices>
				<SizeBasedTriggeringPoilcy size="10MB"/>
			</Polices>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="rollingLogger" additivity="false">
			<AppenderRef ref="rollingAppender"/>
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
	
</Configuration>